{
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 200,
  "semi": true,
  "tabWidth": 2,
  "plugins": [],
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 1
      }
    }
  ]
}
